

.header{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    margin-right: 8px;
    margin-left: 8px;
}
a{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}
.third{
    background-color: #1F2937;
    padding: 12px;
    border: 12px;
}
.frontimg{
    height: auto;
    width: 350px;
}
